* {
  margin: 0;
  padding: 0;
}

body {
  background: black;
  color: white;
  font-family: monospace;
  padding: .5em;
}

header {
  display: grid;
  justify-content: space-between;
}

.vertices {
  fill: #C90;
  stroke: black;
  stroke-width: 3;
}

.vertices .focus {
  stroke: #C90;
  fill: black;
}

.edges {
  stroke: #888;
  stroke-width: 3;
}

.labels {
  fill: #000;
  font-family: monospace;
  font-weight: bold;
  pointer-events: none;
}

.labels .focus {
  fill: #C90;
}

nav {
  padding: 1em;
  grid-area: nav;
}

table {
  width: 100%;
  font-size: .8em;
}

th {
  background: #c90;
  color: #000;
  text-align: center;
}

td {
  background: #111;
  text-align: center;
}

button,select {
  /* background: #c90; */
  /* background-color: #c90; */
}

label {
  color: #C90;
  font-weight: bold;
}

@media (min-width: 36em) {
  body {
    width: 98vw;
    height: 98vh;
    display: grid;
    grid-template-areas: " header " " nav " " main ";
    grid-template-rows: 4em 4em 1fr;
  }
  body > header {
    grid-area: header;
    padding: .5em;
  }
  body > main {
    grid-area: main;
  }
  body > footer {
    grid-area: footer;
    padding: .5em;
  }
  main {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-areas: " graph plot " " table code ";
    grid-template-rows: 1fr 30vh;
    grid-template-columns: 1fr 1fr;
  }
  main > * {
  }

  main > #graph {
    grid-area: graph;
  }
  main > #code {
    padding: 10px;
    grid-area: code;
    overflow: auto;
  }
  main > #table {
    /* padding: 10px; */
    grid-area: table;
    overflow: auto;
  }
  main > #plot {
    grid-area: plot;
    width: 100%;
  }
}
